.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.main img {
  border-radius: 10px;
}